<h1>Welcome to the Finance tracker</h1>
<%= link_to "MY PORTFOLIO",my_portfolio_path%>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= link_to 'Sign out', destroy_user_session_path,method: :delete%>